<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apii">

    <!-- Tells Android that app uses internet !-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apii_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_apii_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APII">
        <activity
            android:label="APII"
            android:theme="@style/Theme.APII.NoActionBar"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>